section {
    max-width: 80%;
    border: 1px solid #A6A09B;
    /* background-color: #edebe9; */
    background: linear-gradient(135deg, #1a73e8 0%, #1557b0 100%);
    margin-left: 10%;
    margin-bottom: 20px;
}


h1 {
    font-family:'Times New Roman', serif;
    text-align: center;
    font-size: 64px;
    color: orange;
}

li {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;

}

h3{
    color: #fff;
}

p {
    font-family: 'Times New Roman', Times, serif;
   
}
strong {
    font-size: 24px;
    color: orange;
}
